<header>
  <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container d-flex justify-content-between">
      <button class="btn btn-block btn-outline-secondary" (click)="powrot()">Strona główna</button>
    </div>
    <div class="container d-flex justify-content-between">
      <a href="#" class="navbar-brand d-flex align-items-center" style="font-size: xx-large;">
        <strong>Tworzenie intefejsów użytkownika</strong>
      </a>
    </div>
  </div>
  <router-outlet></router-outlet>
</header>
